<% include ../partials/header %>
<div style="text-align:center" class="container">
  <h1><%= post.title %></h1>
  <h5><%= post.year %></h5>
  <img id="image" src="<%= post.image %>">
  <p id="plot"><%= post.plot %></p>

  <% include ../comments/new %>
</div>
<% include ../partials/footer %>
